 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 #logo{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20px;
 }header{
    background-color: black;
    height: 80px;
 }span{
   color: rgba(229, 118, 55, 0.916);
   font-size: 24px;
 }#logotext{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 15px;

 }#list{
   display: flex;
   flex-direction: row;
   list-style: none;
   gap: 25px;
 }#list a{
   color: blue;
   text-decoration: none;
 }header .container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

 }.container{
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
   height: 100%;
 }h1{
   font-size: 40px;
   padding-top: 4.8rem;
   color: rgb(238, 35, 35);
   padding-bottom: 20px;
 }#add{
   width: 100%;
   height: 100%;
  
  
 }.section1 .container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap:90px ;
 }#mainfirst{
   display: flex;
   flex-direction: column;
 }p{
   font-size: 21px;
   font-weight: bold;
 }.section2 > .container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
 }
 